<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
    <div class="container-fluid">
      <a class="navbar-brand" href="inicio">
        <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="inicio" style="font-size: 30px; margin-right:40px;">Inicio</a>
        </li>
      </ul>
    </div>
  </nav>

  <h1 id="titulo">Zona CENTRO - Division por segmentos</h1>
  <!-- <h2 id="subtitulo">74% Cumplimiento CERO; 26 UUNN en riesgo de clausura, 8 en riesgo de multa y 3 optimas.</h2> -->

</header>

<body >
  <div *ngFor="let centro of centro.Segmentos" >
    <div class="contenedor-principal">
      <div class="contenedor-segmentos">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Constructores</h2>
                <p class="card-text">{{centro.constructores}} Plantas</p>
                <a href="constructores-centro" class="btn btn-primary">Entrar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Cadena de suministro</h2>
                <p class="card-text">{{centro.cadena_suministro}} Plantas</p>
                <a href="suministro-centro" class="btn btn-primary">Entrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contenedor-segmentos">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Transportes</h2>
                <p class="card-text">{{centro.transporte}} Plantas</p>
                <a href="transporte-centro" class="btn btn-primary">Entrar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Industriales</h2>
                <p class="card-text">{{centro.industriales}} Plantas</p>
              <a href="industriales-centro" class="btn btn-primary">Entrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contenedor-segmentos">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Inmuebles no opertivos</h2>
                <p class="card-text">{{centro.inmuebles_no_operativos}} Plantas</p>
                <a href="no-operativo-centro" class="btn btn-primary">Entrar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Operaciónes</h2>
                <p class="card-text">{{centro.operaciones}} Plantas</p>
                <a href="operaciones-centro" class="btn btn-primary">Entrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contenedor-segmentos">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Promexma</h2>
                <p class="card-text">{{centro.Promexma}} Plantas</p>
                <a href="promexma-centro" class="btn btn-primary">Entrar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</body>
</html>
