<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
       <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
        <label id="btn-menu1" for="btn-menu" style="font-size: 40px">☰</label>
      </a>  
    </div>
  </nav>
  <input type="checkbox" id="btn-menu">
  <div class="container-menu">
    <div class="cont-menu">
      <nav>
        <br><br>
        <a routerLink="inicio">Inicio</a>
        <a routerLink="Zona-pacifico">Zona Pacífico</a>
        <a routerLink="Zona-centro">Zona Centro</a>
        <a routerLink="Zona-sureste">Zona Sureste</a>
        
      </nav>
      <label for="btn-menu" id="Boton-cerrar">✖</label>
    </div>
  </div>
  <h1 id="titulo">Zona Noreste - Estatus por unidad operativa</h1>
  <h2 id="subtitulo">74% Cumplimiento CERO; 26 UUNN en riesgo de clausura, 8 en riesgo de multa y 3 optimas.</h2>


</header>

<body >
  <div id="Boton-grafica" class="d-grid gap-2 col-6 mx-auto">
    <button  class="btn btn-primary" type="button">Grafica de comparativa bimestral</button>
  </div>
    <div class="contenedor-tabla">
    <a style="font-size: 32px; font-weight: bold;">RIESGO DE</a>
    <a style="font-size: 32px; font-weight: bold; color: crimson;"> CLAUSURA</a>
    <br><br><br>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Planta</th>
            <th scope="col">Area de oportunidad</th>
            <th scope="col">%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
        </tbody>
      </table>
</div>
<div class="contenedor-tabla">
    <a style="font-size: 32px; font-weight: bold;">RIESGO DE</a>
    <a style="font-size: 32px; font-weight: bold; color: rgb(220, 220, 20);"> MULTA</a>
    <br><br><br>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Planta</th>
            <th scope="col">Area de oportunidad</th>
            <th scope="col">%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
        </tbody>
      </table>
</div>
<div class="contenedor-tabla">
    <a style="font-size: 32px; font-weight: bold;">OPTIMA</a>
    <br><br><br>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Planta</th>
            <th scope="col">Area de oportunidad</th>
            <th scope="col">%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
        </tbody>
      </table>
</div>
    
</body>
</html>
