<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#/inicio">
       <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#/registros-sureste" style="font-size: 30px; margin-right:40px;">Ver registros de Sureste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#/inicio" style="font-size: 30px; margin-right:40px;">Inicio</a>
        </li>
      </ul>
    </div>
  </nav>

  <h1 id="titulo">Zona SURESTE - Division por segmentos</h1>
  <!-- <h2 id="subtitulo">74% Cumplimiento CERO; 26 UUNN en riesgo de clausura, 8 en riesgo de multa y 3 optimas.</h2> -->

</header>

<body >
  <div *ngFor="let Sur of suroeste.Segmentos">
      <div class="contenedor-principal">
    <div class="contenedor-segmentos">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Constructores</h2>
              <p class="card-text">{{Sur.constructores}} Plantas</p>
              <a href="#/constructores-sureste" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Cadena de Suministro</h2>
              <p class="card-text">{{Sur.cadena_suministro}} Plantas</p>
              <a href="#/suministro-sureste" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contenedor-segmentos">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Transporte</h2>
              <p class="card-text">{{Sur.transporte}} Plantas</p>
              <a href="#/transporte-sureste " class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Industriales</h2>
              <p class="card-text">{{Sur.industriales}} Plantas</p>
             <a href="#/industriales-sureste" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contenedor-segmentos">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Inmuebles No Operativos</h2>
              <p class="card-text">{{Sur.inmuebles_no_operativos}} Plantas</p>
              <a href="#/no-operativo-sureste" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Operaciones</h2>
              <p class="card-text">{{Sur.operaciones}} Plantas</p>
              <a href="#/operaciones-sureste" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contenedor-segmentos">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Promexma</h2>
              <p class="card-text">{{Sur.Promexma}} Plantas</p>
              <a href="#/promexma-sureste" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
</body>
</html>
