<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
    <div class="container-fluid">
      <a class="navbar-brand" href="inicio">
       <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">

      </a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="graficas-operaciones-centro" style="font-size: 30px; margin-right: 40px;">Volver</a>
        </li>
      </ul>
    </div>
  </nav>

  <h1 id="titulo">Operaciones Zona CENTRO - Estatus por unidad operativa</h1>
  <!-- <h2 id="subtitulo">74% Cumplimiento CERO; 26 UUNN en riesgo de clausura, 8 en riesgo de multa y 3 optimas.</h2> -->

</header>

<body >

    <div class="contenedor-tabla">
    <a style="font-size: 32px; font-weight: bold;">RIESGO DE</a>
    <a style="font-size: 32px; font-weight: bold; color: crimson;"> CLAUSURA</a>
    <br><br><br>
   
      <div class="tabla">
        <table class="table" style="font-size: 12px;">
          <thead class="table-dark">
            <tr>
              <tr>
                <th scope="col">Planta</th>
                <th scope="col">Area de oportunidad</th>
                <th scope="col">%</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let clausura of logicaService.DatosRiesgoClausura">
              <td>{{clausura.nombre_planta}}</td>
              <td>{{clausura.siglas}}</td>
              <td>{{ clausura.porcentaje_cumplimiento | number:'1.2-2' }}</td>
             
            </tr>

          </tbody>
        </table>
      </div>
</div>
<div class="contenedor-tabla">
    <a style="font-size: 32px; font-weight: bold;">RIESGO DE</a>
    <a style="font-size: 32px; font-weight: bold; color: rgb(220, 220, 20);"> MULTA</a>
    <br><br><br>
    <div class="tabla">
      <table class="table" style="font-size: 12px;">
        <thead class="table-dark">
          <tr>
            <tr>
              <th scope="col">Planta</th>
              <th scope="col">Area de oportunidad</th>
              <th scope="col">%</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let multa of logicaService.DatosRiesgoMulta">
            <td>{{multa.nombre_planta}}</td>
            <td>{{multa.siglas}}</td>
            <td>{{ multa.porcentaje_cumplimiento | number:'1.2-2' }}</td>
           
          </tr>

        </tbody>
      </table>
    </div>
</div>

<div class="contenedor-tabla">
  
  <a style="font-size: 32px; font-weight: bold; color: rgb(120, 120, 120);">ADMINISTRATIVO</a>
  <br><br><br>
 
    <div class="tabla">
      <table class="table" style="font-size: 12px;">
        <thead class="table-dark">
          <tr>
            <tr>
              <th scope="col">Planta</th>
              <th scope="col">Area de oportunidad</th>
              <th scope="col">%</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of logicaService.DatosRiesgoAdmin">
            <td>{{admin.nombre_planta}}</td>
            <td>{{admin.siglas}}</td>
            <td>{{ admin.porcentaje_cumplimiento | number:'1.2-2' }}</td>
           
          </tr>

        </tbody>
      </table>
    </div>
</div>

<div class="contenedor-tabla">
    <a style="font-size: 32px; font-weight: bold;">OPTIMA</a>
    <br><br><br>
    
    <div class="tabla">
      <table class="table" style="font-size: 12px;">
        <thead class="table-dark">
          <tr>
            <tr>
              <th scope="col">Planta</th>
              <th scope="col">Area de oportunidad</th>
              <th scope="col">%</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let optima of logicaService.DatosOptimas">
            <td>{{optima.nombre_planta}}</td>
            <td>{{optima.siglas}}</td>
            <td>{{optima.porcentaje_cumplimiento | number:'1.2-2' }}</td>
          </tr>

        </tbody>
      </table>
      <br>
      <br>
    </div>
</div>

</body>
</html>

