<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>

</head>
<header>
  <nav class="navbar" style="background-color: #e4e0e0;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png"  class="logo">
      </a>
    </div>
  </nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Reporte mensual por segmentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Reporte mensual por zona</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Reporte anual</a>
    </li> 
   
  </ul>
 
  
</header>



<body>
  
<div id="base-mapa">
<img class="imagen" src="https://i.ibb.co/qgHV9HQ/mapa.jpg" alt="">
</div>


</body>
</html>
