<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>

</head>
<header>
  <!-- aqui seteamos los items que van en el nav, como el icono y el color del mismo -->
  <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <!-- aqui le asignamos una iamgen a nustro logo -->
       <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
       <label id="btn-menu1" for="btn-menu" style="font-size: 40px">☰</label>
      </a>
      
     
    </div>
  </nav>
  
  <!-- este es el menu lateral -->
  <input type="checkbox" id="btn-menu">
  <div class="container-menu">
    <div class="cont-menu">
      <nav>
        <a href="">Operaciónes sin contrato y sin prediales</a>
        <a href="plantas">Unidades operativas</a>
        <a href="permisos">Lista de pesos e impacto</a>
        <a href="">Permisos totales</a>
        <a href="">Renovar permiso</a>
        <a href="">Descargar archivos</a>
        <a href="loggin">Cerrar sesión</a>
      </nav>
      <label for="btn-menu" id="Boton-cerrar">✖</label>
    </div>
  </div>
 
</header>
<body id="body">
  <H1 id="titulo-inicio">MAPA DE ZONAS</H1>
  <!-- le asignamos un div con las caracteristicas especificas para poder organizar mejor los 4 botones del mapa -->
  <div id="base-mapa">
 
   <div>
    <!-- aqui creamos los botones de zona -->
    <button (click)="Pacifico()" class="boton-mapa">
      <img class="imagen" src="https://i.ibb.co/zbyNKwn/pacifico2-0.png" alt="">
    </button>
    <button (click)="Norte()" class="boton-mapa">
      <img class="imagen" src="https://i.ibb.co/RSxXNCb/zona-norte2-0.png" alt="">
    </button>
   </div>
   <div>
    <button (click)="Centro()" class="boton-mapa">
      <img class="imagen" src="https://i.ibb.co/YBWQxVs/zona-centro2-0.png" alt="">
    </button>
    <button (click)="Sur()" class="boton-mapa">
      <img class="imagen" src="https://i.ibb.co/Pr9XRnm/zona-sur2-0.png" alt="">
    </button>
   </div>
    
  </div>

</body>
</html>
