<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>

</head>
<header>
  <nav class="navbar" style="background-color: #e4e0e0;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png"  class="logo">
      </a>
    </div>
  </nav>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reportes por segmento</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Segmento 1</a></li>
          <li><a class="dropdown-item" href="#">Segmento 2</a></li>
          <li><a class="dropdown-item" href="#">Segmento 3</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Reportes por zona</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Segmento 1</a></li>
          <li><a class="dropdown-item" href="#">Segmento 2</a></li>
          <li><a class="dropdown-item" href="#">Segmento 3</a></li>
        </ul>
      </li>
     
    </ul>
  </nav>
 
  
</header>



<body>
  

</body>
</html>
