<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
      <div class="container-fluid">
        <a class="navbar-brand" href="inicio">
         <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
          
        </a>  
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="inicio" style="font-size: 30px; margin-right: 40px;">Volver</a>
          </li>
        </ul> 
      </div>
    </nav>
    
    <h1 id="titulo">Total de permisos</h1>
    <!-- <h2 id="subtitulo">74% Cumplimiento CERO; 26 UUNN en riesgo de clausura, 8 en riesgo de multa y 3 optimas.</h2> -->
  
  </header>
  <body>
    <div class="contenedor-tabla">
  
      <!-- <a style="font-size: 32px; font-weight: bold; color: rgb(0, 47, 255);"> TOTAL</a>
      <a style="font-size: 32px; font-weight: bold;"> DE UNIDADES OPERATIVAS </a>
      <a style="font-size: 32px; font-weight: bold; color: rgb(31, 140, 7);"> MÉXICO</a> -->
      <br><br><br>
      <table class="table table-hover">
          <thead class="table-dark">
            <tr>
              <th scope="col">Nombre permiso</th>
              <th scope="col">Siglas</th>
              <th scope="col">Fecha vencimiento</th>
              <th scope="col">Planta</th>
              <th scope="col">Segmento</th>
              <th scope="col">Estatus</th>
              <th scope="col">Impacto</th>
              <th scope="col">Validez unica</th>
              <th scope="col">Peso</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Bitácora de operación sobre Residuos Manejo Especial</th>
              <td>BIT RME</td>
              <td>09/12/2024</td>
              <td>PD0063 XALOSTOC, EDOMEX</td>
              <td>Constructores</td>
              <td>Activa</td>
              <td>Multa</td>
              <td>Si</td>
              <td>2</td>
            
            </tr>
            <tr>
                <th scope="row">Bitácora de operación sobre Residuos Manejo Especial</th>
                <td>BIT RME</td>
                <td>09/12/2024</td>
                <td>PD0063 XALOSTOC, EDOMEX</td>
                <td>Constructores</td>
                <td>Activa</td>
                <td>Multa</td>
                <td>Si</td>
                <td>2</td>
              
              </tr>
              <tr>
                <th scope="row">Bitácora de operación sobre Residuos Manejo Especial</th>
                <td>BIT RME</td>
                <td>09/12/2024</td>
                <td>PD0063 XALOSTOC, EDOMEX</td>
                <td>Constructores</td>
                <td>Activa</td>
                <td>Multa</td>
                <td>Si</td>
                <td>2</td>
              
              </tr>
         
           
          </tbody>
        </table>
  </div>
  </body>