
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industriales</title>
</head>

<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
    <div class="container-fluid">
      <a class="navbar-brand" href="inicio">
       <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
      </a>

         <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="graficas-industriales-noreste" style="font-size: 20px;">Indicadores de cumplimiento</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Zona-noreste" style="font-size: 20px;">Menu segmentos</a>
          </li>
        </ul>
    </div>
  </nav>

</header>
<body>
    <h1 id="titulo">Informe mensual Industriales NORESTE</h1>
   <div class="contenedor-principal">
    <div class="div_paralelo">

     <div id="contenedor-grafica" class="tabla">
        <h3 id="subtitulo">Progreso de cumplimiento</h3>
        <canvas baseChart class="chart"  [data]="datoslineas" [options]="barChartOptionsLine"
        [plugins]="barChartPlugins" [type]="graficalineas">
       </canvas>
    </div>
   

    </div>
   

  </div>
  <div class="div_paralelo">

    <div class="tabla">
      <table class="table" style="font-size: 12px;">
          <thead class="table-dark">
              <tr>
                  <th scope="col"> CLAUSURA TOTAL</th>
                  
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <!-- Tabla para impacto "Clausura Total" -->
              <ng-container *ngFor="let planper of perPlan.permiso_plan">
                  <ng-container *ngIf="planper.impacto === 'Clausura Total '">
                      <tr>
                          <td class="col-10">{{planper.nombre}}</td>
                          
                          <td>{{planper.plantnor}}</td>
                      </tr>
                  </ng-container>
              </ng-container>
          </tbody>
      </table>
  </div>
  
  <div class="tabla">
      <table class="table" style="font-size: 12px;">
          <thead class="table-dark">
              <tr>
                  <th scope="col"> MULTA</th>
                  
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <!-- Tabla para impacto "Multa" -->
              <ng-container *ngFor="let planper of perPlan.permiso_plan">
                  <ng-container *ngIf="planper.impacto === 'Multa'">
                      <tr>
                          <td class="col-10">{{planper.nombre}}</td>
                         
                          <td>{{planper.plantnor}}</td>
                      </tr>
                  </ng-container>
              </ng-container>
          </tbody>
      </table>
  </div>
  
  <div class="tabla">
      <table class="table" style="font-size: 12px;">
          <thead class="table-dark">
              <tr>
                  <th scope="col"> ADMINISTRATIVO</th>
                  
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              <!-- Tabla para impacto "Administrativo" -->
              <ng-container *ngFor="let planper of perPlan.permiso_plan">
                  <ng-container *ngIf="planper.impacto === 'Administrativo'">
                      <tr>
                          <td class="col-10">{{planper.nombre}}</td>
                        
                          <td>{{planper.plantnor}}</td>
                      </tr>
                  </ng-container>
              </ng-container>
          </tbody>
      </table>
  </div>
  


    <div class="tabla">
      <table class="table" style="font-size: 12px;">
        <thead class="table-dark">
          <tr>
            <th scope="col">SUMA TOTAL</th>
            <th scope="col"></th>
          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let zon of perPlan.zonasConteo" >
            <td class="col-10">Total</td>
          
            <td>{{zon.Noreste}}</td>
        
        </tbody>
      </table>
    </div>



   </div>

</body>
</html>

