
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficas no operativos</title>
</head>

<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
    <div class="container-fluid">
      <a class="navbar-brand" href="inicio">
       <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
      </a>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="nivel-riesgo-no-operativos-centro" style="font-size: 20px;">Estatus por tienda</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="no-operativo-centro" style="font-size: 20px;">Volver</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<body>
    <h1 id="titulo">Informes de cumplimiento Inmuebles no operativos CENTRO</h1>
   <div class="contenedor-principal">
    <div>
      <br>

    <br><br>
    <div id="contenedor-grafica" class="tabla">
      <h3 id="subtitulo">Cumplimiento CERO</h3>
      <br>
    <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
     [plugins]="barChartPlugins" [type]="barChartType" >
    </canvas>
     </div><br><br>
     <div id="contenedor-grafica" class="tabla">
      <h3 id="subtitulo">Cumplimiento Fijas y Móviles</h3>
      <br>
    <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
     [plugins]="barChartPlugins" [type]="barChartType" >
    </canvas>
     </div>
     <br><br>
      <div id="contenedor-grafica" class="tabla">
            <h3 id="subtitulo">Niveles de riesgo</h3>
            <canvas baseChart class="chart" [data]="stackedBarData" [options]="stackedBarChartOptions"
            [plugins]="barChartPlugins" [type]="barChartType">
           </canvas>
      </div>
      <br><br>
        <div id="contenedor-grafica" class="tabla">

        </div>
        <!-- <div class="tabla">
         <h4>
          - +1% comparado con el mes anterior, debido a
          la obtención de 11 Licencias Municipales y 9 de proteccion civil.
         </h4>
         <br>
         <h4>
          - +1% comparado con el mismo mes del año anterior.
         </h4>
        </div> -->

    </div>

   </div>

</body>
</html>

