<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
      <div class="container-fluid">
        <a class="navbar-brand" href="inicio">
         <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
          
        </a>  
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="plantas" style="font-size: 30px; margin-right: 40px;">Volver</a>
          </li>
        </ul> 
      </div>
    </nav>
    
    <h1 id="titulo">Actualizar Planta</h1>
   
  
  </header>
  <body >
    
    <div class="contenedor-principal" style="background-color: bisque; padding: 3%;">
      <br>
        <form class="row g-3 needs-validation"  #FormRegistro ="ngForm" >
            <div class="col-md-6">
              <label for="validationCustom01" class="form-label"><h3>Nombre de la planta</h3></label>
              <input type="text" class="form-control" id="validationCustom01"  required name="nombre_planta">
              
            </div>
            <div class="col-md-3">
              <label for="validationCustom02" class="form-label"><h3>Segmento</h3></label>
              <select class="form-select" id="validationCustom02"  name="segmento" required
              >
                <option selected disabled value="">Elegir segmento</option>
                <option>Cadena de suministro</option>
                <option>Contructores</option>
                <option>Industriales</option>
                <option>Inmuebles no operativos</option>
                <option>Operaciones</option>
                <option>Promexma</option>
                <option>Transporte</option>
              </select>
              
            </div>
            <div class="col-md-3">
              <label for="validationCustom03" class="form-label"><h3>Zona</h3></label>
              <select class="form-select" id="validationCustom03" required name="zona"
              >
                <option selected disabled value="">Elegir zona</option>
                <option>Centro</option>
                <option>Noreste</option>
                <option>Pacífico</option>
                <option>Sureste</option>
              </select>
            </div>

          <div class="col-md-4">
              <label for="estado" class="form-label"> <h3>Estado Seleccionado: {{servisplanta.PlantaSelect.estado}}</h3></label>
              <select class="form-select" multiple aria-label="multiple select example" name="estado"
               [(ngModel)]="servisplanta.PlantaSelect.estado" >
               <option selected disabled value="">Elegir estado</option>
               <option value="Aguascalientes">Aguascalientes</option>
               <option value="Baja California">Baja California</option>
               <option value="Baja California Sur">Baja California Sur</option>
               <option value="Campeche">Campeche </option>
               <option value="Chiapas">Chiapas</option>
               <option value="Chihuahua">Chihuahua </option>
               <option value="Ciudad de México">Ciudad de México</option>
               <option value="Coahuila">Coahuila</option>
               <option value="Colima">Colima</option>
               <option value="Durango">Durango </option>
               <option value="Estado de México">Estado de MéxicoTwo</option>
               <option value="Guanajuato">Guanajuato Three</option>
               <option value="Guerrero">Guerrero </option>
               <option value="Hidalgo">Hidalgo</option>
               <option value="Jalisco">Jalisco </option>
               <option value="Michoacán">Michoacán </option>
               <option value="Morelos">Morelos</option>
               <option value="Nayarit">Nayarit</option>
               <option value="Nuevo León">Nuevo León </option>
               <option value="Oaxaca">Oaxaca </option>
               <option value="Puebla">Puebla</option>
               <option value="Querétaro">Querétaro </option>
               <option value="Quintana Roo">Quintana Roo </option>
               <option value="San Luis Potosí">San Luis Potosí </option>
               <option value="Sinaloa">Sinaloa </option>
               <option value="Sonora">Sonora </option>
               <option value="Tabasco">Tabasco</option>
               <option value="Tamaulipas">Tamaulipas</option>
               <option value="Tlaxcala">Tlaxcala</option>
               <option value="Veracruz">Veracruz</option>
               <option value="Yucatán">Yucatán</option>
               <option value="Zacatecas">Zacatecas </option>
              
             </select>
           </div>

           <div class="col-md-2" style="margin-top: 10%; margin-left: 5%;">
            <div class="form-check" style="margin-left: 10px;">
              <input class="form-check-input" type="checkbox" value="false" id="invalidCheck"  name="fija"
              [(ngModel)]="servisplanta.PlantaSelect.fija">
              <label class="form-check-label">
              <h3>Fija</h3>
              </label>
            </div>
           </div>

           <div class="col-md-2" style="margin-top: 10%;">
            <div class="form-check" style="margin-left: 10px;">
              <input class="form-check-input" type="checkbox" value="false" id="invalidCheck"  name="activa"
              [(ngModel)]="servisplanta.PlantaSelect.activa">
              <label class="form-check-label">
              <h3>Activa</h3>
              </label>
            </div>
           </div>
             
           <h2>Detalles del elemento con ID: {{ itemId }}</h2>
           
            
<!--        
            <div class="form-check" style="margin-left: 10px;">
                <input class="form-check-input" type="checkbox" value="false" id="invalidCheck"  name="fija"
                [(ngModel)]="servisplanta.PlantaSelect.fija">
                <label class="form-check-label">
                <h3>Fija</h3>
                </label>
              </div>
              -->
            
            
            <div class="col-12">
              <br><br>
              <!-- <button class="btn btn-primary" type="submit" (click)="insertar_planta(FormRegistro)">Agregar</button> -->
              <button class="btn btn-primary" type="submit" (click)="pintarCampos()">Actualizar</button>
            </div>
          </form>
    </div>
   


  </body>