<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 id="titulo">Zona Pacífico - Estatus por unidad operativa</h1>
    <h2 id="subtitulo">74% Cumplimiento CERO; 26 UUNN en riesgo de clausura, 8 en riesgo de multa y 3 optimas.</h2>
<div class="contenedor-tabla">
    <a style="font-size: 32px; font-weight: bold;">RIESGO DE</a>
    <a style="font-size: 32px; font-weight: bold; color: crimson;"> CLAUSURA</a>
    <br><br><br>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Planta</th>
            <th scope="col">Area de oportunidad</th>
            <th scope="col">%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
        </tbody>
      </table>
</div>
<div class="contenedor-tabla">
    <a style="font-size: 32px; font-weight: bold;">RIESGO DE</a>
    <a style="font-size: 32px; font-weight: bold; color: rgb(220, 220, 20);"> MULTA</a>
    <br><br><br>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Planta</th>
            <th scope="col">Area de oportunidad</th>
            <th scope="col">%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
        </tbody>
      </table>
</div>
<div class="contenedor-tabla">
    <a style="font-size: 32px; font-weight: bold;">OPTIMA</a>
    <br><br><br>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Planta</th>
            <th scope="col">Area de oportunidad</th>
            <th scope="col">%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
          <tr>
            <th scope="row">PD0063 XALOSTOC, EDOMEX</th>
            <td>ARME/AFRA/PPC</td>
            <td>67</td>
          
          </tr>
          <tr>
            <th scope="row">PD0063 SAHAGUN, HGO</th>
            <td>ARME/AFRA/PPC</td>
            <td>68</td>
         
          </tr>
          <tr>
            <th scope="row">PD0067 VALLEJO, DF</th>
            <td>ARME/AFRA/PPC</td>
            <td>73</td>
            
          </tr>
        </tbody>
      </table>
</div>
    
</body>
</html>