#titulo{
    color: rgb(17, 17, 110);
    margin-top: 20px;
    margin-left: 35px;
    /* text-align: center; */
}
#subtitulo{
    color: rgb(151, 151, 151);
    margin-top: 20px;
    margin-left: 35px;
    /* text-align: center; */
}
.contenedor-tabla{
    width:70%;
    margin: 0px auto;
    margin-top: 5%;
    margin-bottom: 5%;
}