<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
      <div class="container-fluid">
        <a class="navbar-brand" href="inicio">
         <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
        </a>

           <ul class="nav justify-content-end" style="margin-right: 3%; ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" (click)="goBack()" style="font-size: 20px; cursor: pointer;">Volver</a>
            </li>
          </ul>
      </div>
    </nav>
    <H1 id="titulo">Actualizar registro</H1>
  </header>
  <body >

    <div class="contenedor-principal" style="background-color: bisque;  width: 90%; padding: 5%;">
      


        <form class="row g-3 needs-validation" novalidate (ngSubmit)="validacion()" enctype="multipart/form-data" >


          <!-- <label class="form-label"> <h3>Id del registro:  <a [href]="id_registro">{{ id_registro }}</a></h3></label>
            -->
          <div class="col-md-6">
              <label for="validationCustom01" class="form-label"><h3>Nombre de la planta (No editable)</h3></label>
              <input type="text" class="form-control" id="validationCustom01"  required name ="nombre_planta"
              [(ngModel)]="nombre_planta" [readonly]="true" matInput [readonly]="!editable">

            </div>

            <div class="col-md-6">
              <label for="validationCustom02" class="form-label"><h3>Nombre del permiso (No editable)</h3></label>
              <input type="text" class="form-control" id="validationCustom02"  required name ="nombre_requerimiento"
              [(ngModel)]="nombre_requerimiento" [readonly]="true" matInput [readonly]="!editable">

            </div>


            <div class="col-md-6">
              <label for="validationCustom03" class="form-label"> <h3>Observaciones</h3></label>
              <input type="text" class="form-control" id="validationCustom03" required name ="observaciones"
              [(ngModel)]="observaciones">
            </div>
            <div class="col-md-3">
              <label for="validationCustom04" class="form-label"><h3>Estatus</h3></label>

              <select class="form-select" id="estatus" required name="estatus"
              [(ngModel)]="estatus"
              >

                <option selected disabled value="">Elegir...</option>
                <option>Vigente</option>
                <option>Vencido</option>
                <option>En Trámite</option>
                <option>No Tramitable</option>
                <option>No Cumple</option>
                <option>No Aplica</option>
              </select>

              <div class="invalid-feedback">
                Por favor seleccione un estatus válido
              </div>

            </div>

            <div class="col-12">


            </div>

            <label class="form-label"> <h3><a [href]="url">Ver documento actual</a></h3></label>

            <div class="mb-3">


              <label class="form-label"> <h3>Agregar un nuevo documento</h3></label>

              <input type="file" class="form-control" aria-label="file example" required (change)="onFileSelected($event)" accept=".pdf" name="pdf"             >

                <div class="invalid-feedback"></div>
            </div>



            <br><br>
            <div class="form-check" style="margin-left: 10px;">
              <input class="form-check-input" type="checkbox" id="validezUnicaCheckbox" name="validez_unica"
              [(ngModel)]="validez_unica">
              <label class="form-check-label" for="validezUnicaCheckbox">
                <h3>Validez Unica</h3>
              </label>
            </div>

            <div class="contenedor">
              <!-- <div class="div1">
                <h3>Elige la fecha de inicio</h3>

                 <mat-form-field>
                  <mat-label>Fecha de inicio</mat-label>
                  <input matInput [matDatepicker]="picker" name="fecha_inicio" [(ngModel)]="fecha_inicio"
                  [disabled]="validez_unica">
                  <mat-hint>MM/DD/AAAA</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

              </div> -->
               <div class="div2">
                <h3>Elige la fecha de vencimiento</h3>
                <mat-form-field>
                  <mat-label>Fecha de vencimiento</mat-label>
                  <input matInput [matDatepicker]="picker2" name="fecha_vencimientos"
                  [(ngModel)]="fecha_vencimiento" [disabled]="validez_unica">
                  <mat-hint>MM/DD/AAAA</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-12">
                
                <button style="margin-left: 80%;" class="btn btn-primary" type="submit">Actualizar</button>
              </div>
            </div>


           
          </form>

          <br><br><br>


          <div style="width: 80%; text-align: center !important" *ngIf="documentos.length > 0">
            <table class="table table-hover" style="margin-left: 10%;">
         
             <thead class="table-dark">
               <tr>
                <th>Nombre del Documento</th>
                 <th>Fecha de Inicio</th>
                 <th>Fecha de Vencimiento</th>
                 <th>Impacto</th>
                 <th>Zona</th>
                 <th>Segmento</th>
                 <th>URL</th>
                 <!-- Agrega más encabezados según necesites -->
               </tr>
             </thead>
             <tbody>

               <tr *ngFor="let documento of documentos">
                <td>{{ documento.nombre_doc }}</td>
                <td>{{recortarTexto(documento.inicio, 10)}}</td>
                <td>{{recortarTexto(documento.fecha_vencimiento, 10)}}</td>
                 <td>{{ documento.impacto }}</td>
                 
                 <td>{{ documento.zona }}</td>
                 <td>{{ documento.segmento }}</td>
                 <!-- <td><a href="{{ documento.url }}" target="_blank">{{ documento.url }}</a></td> -->
                 <td>
                   <button *ngIf="documento.url" class="btn btn-primary" (click)="abrirUrl(documento.url)">
                     <i class="material-icons">description</i> 
                   </button>
                 </td>
                 <!-- Agrega más columnas según necesites -->
               </tr>
             </tbody>
           </table>
         </div>
         <div *ngIf="documentos.length === 0">
           <p>No se encontraron documentos.</p>
         </div>

    </div>
    <br><br><br>
    

      <br><br><br>
  </body>

