<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
      <div class="container-fluid">
        <a class="navbar-brand" href="inicio">
         <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">

        </a>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="inicio" style="font-size: 20px; margin-right: 40px;">Menu principal</a>
          </li>
        </ul>
      </div>
    </nav>

    <h1 id="titulo">Cambiar mi contraseña</h1>

  </header>
  <body >

    <div class="contenedor-principal" style="background-color: bisque; padding: 3%; width: 50%;;">
    
        <form class="row g-3 needs-validation"  #FormRegistro ="ngForm" >
            <div class="col-md-12">
              <label for="validationCustom01" class="form-label"><h2>CORREO</h2></label>
             <input type="text" class="form-control" id="validationCustom01" name="correo"
             [(ngModel)]="correo">
            </div>
            <div div class="col-md-12">
              <label for="validationCustom06" class="form-label letra"><h2>CONTRASEÑA ACTUAL</h2></label>
              <input type="password" class="form-control" id="validationCustom06"  
              [(ngModel)]="password" name="password" required>
              <a style="margin-top:3%; margin-left: 80%; background-color: rgba(255, 255, 255, 0.594); 
              border-radius:10px ; padding: 1%; font-size: 14px;" 
              type="button" class="btn-link" (click)="togglePasswordVisibility()">
                {{ textoBoton }}
              </a>
              </div>
              <div div class="col-md-12">
                <label for="validationCustom07" class="form-label letra"><h2>CONTRASEÑA NUEVA</h2></label>
                <input type="password" class="form-control" id="validationCustom07"  
                [(ngModel)]="passnuevo" name="passnuevo" required>
                <a style="margin-top:3%; margin-left: 80%; background-color: rgba(255, 255, 255, 0.594); 
                border-radius:10px ; padding: 1%; font-size: 14px;" 
                type="button" class="btn-link" (click)="togglePasswordVisibility2()">
                  {{ textoBoton2 }}
                </a>
                </div>
            <div class="col-12">
              <br><br>
              <button style="margin-left: 85%;" class="btn btn-primary" type="submit" (click)="validacion(FormRegistro)">Actualizar</button>
            </div>
          </form>
    </div>

  </body>
