.body{
  margin: 0;
  padding: 0;
  background-image:url(https://i.ibb.co/bPBmQdP/2500-x-1650.jpg);
  font-family: 'Poppins';
  height: 100vh;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.letra{
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    color: #010101;
}

/*
para mover el contenedor azul */
#mover{
  width: 30%;
    background: #adadadb0;
    top: auto;
    margin-top: 5%;
    left: 35%;
    height:  auto;
    position: absolute;
    box-sizing: border-box;
    padding: 10% 2%;
    border-radius: 30px;
}
/* para mover la posisicion de arriba hacia abajo del login */
#logo{
  width: 40%;
  margin-top: -300px;
  padding-left: 30%;

}
#cemlog{
    background: #553fff;
    top: auto;
    margin-top: 5%;
    left: 20%;
    height:  auto;
    position: absolute;
    box-sizing: border-box;
    padding: 10% 2%;
    border-radius: 70px;
}
#cem{

  margin-top: 15%;
  position:  absolute;
  margin-left: 15%;
  background-color: #080000;


}


/* para que el boton este mas abajo del formulario */
.login-imagen input {
  width: 100%;
  margin-bottom: 45px;
}
.login-imagen input[type="password"]
{

  background: #fff;
  height: 20px;
  font-size: 16px;
}



#contenedor-boton{
  text-align: center;
}
.btn {
  outline: none;
  background: #4A7E94;
  color: #f6efef;
  font-size: 20px; /*tamaño de letra */
  border-radius: 10px;
  margin: auto;
  height: 60px;
  cursor: pointer;
  /* margin-left: 35%; */
  
}
