.body {
  margin: 0;
  padding: 0;
  background-image: url(https://i.ibb.co/bPBmQdP/2500-x-1650.jpg);
  font-family: 'Poppins';
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.letra {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.1;
  color: #010101;
}

#mover {
  width: 30%;
  background: #adadadb0;
  top: auto;
  margin-top: 5%;
  left: 35%;
  height: auto;
  position: absolute;
  box-sizing: border-box;
  padding: 5% 2%;
  border-radius: 2em;
}

#logo {
  width: 40%;
  margin-top: -15%;
  padding-left: 15%;
}

#cemlog {
  background: #553fff;
  top: auto;
  margin-top: 5%;
  left: 20%;
  height: auto;
  position: absolute;
  box-sizing: border-box;
  padding: 5% 2%;
  border-radius: 70px;
}

#cem {
  margin-top: 15%;
  position: absolute;
  margin-left: 15%;
  background-color: #080000;
}

.login-imagen input {
  width: 100%;
  margin-bottom: 45px;
}

.login-imagen input[type="password"] {
  background: #fff;
  height: 20px;
  font-size: 16px;
}

#contenedor-boton {
  text-align: center;
}

.btn {
  outline: none;
  background: #4a7e94;
  color: #f6efef;
  font-size: 20px;
  border-radius: 10px;
  margin: auto;
  height: 60px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #mover {
    width: 80%;
    left: 10%;
    padding: 5% 2%;
  }

  #logo {
    width: 80%;
    margin-top: -10%;
    padding-left: 10%;
  }
}
