
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadena de suministro </title>
</head>

<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
    <div class="container-fluid">
      <a class="navbar-brand" href="inicio">
       <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
      </a>

         <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="graficas-suministro-pacifico" style="font-size: 20px;">Indicadores de cumplimiento</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Zona-pacifico" style="font-size: 20px;">Menu segmentos</a>
          </li>
        </ul>
    </div>
  </nav>

</header>
<body>
    <h1 id="titulo">Informe mensual Cadena de Suministro PACÍFICO</h1>
   <div class="contenedor-principal">
    <div class="div_paralelo">

     <div id="contenedor-grafica" class="tabla">
        <h3 id="subtitulo">Progreso de cumplimiento</h3>
        <canvas baseChart class="chart"  [data]="datoslineas" [options]="barChartOptionsLine"
        [plugins]="barChartPlugins" [type]="graficalineas">
       </canvas>
    </div>
    <br><br>

    </div>
    <div class="div_paralelo">

      <div class="tabla">
        <table class="table table-hover" style="font-size: 12px;">
          <thead class="table-dark">
            <tr>
              <th scope="col">REQUERIMIENTO</th>
              <th scope="col">NAC</th>
              <th scope="col">CEN</th>
              <th scope="col">NE</th>
              <th scope="col">PAC</th>
              <th scope="col">SE</th>
            </tr>
          </thead>
          <tbody>



          </tbody>
        </table>
      </div>
      <div class="tabla">
        <table class="table table-hover" style="font-size: 12px;">
          <thead class="table-dark">
            <tr>
              <th scope="col">SUMA TOTAL</th>
              <th scope="col">NAC</th>
              <th scope="col">CEN</th>
              <th scope="col">NE</th>
              <th scope="col">PAC</th>
              <th scope="col">SE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">20</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>

          </tbody>
        </table>
      </div>


    </div>
   </div>

</body>
</html>

