
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constructores</title>
</head>

<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
       <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
        <label id="btn-menu1" for="btn-menu" style="font-size: 40px">☰</label>
      </a>
      <a href="riesgo-constructores" ID="boton-riesgo"><h3>NIVELES DE RIESGO</h3></a>
        
    </div>
  </nav>
  <input type="checkbox" id="btn-menu">
  <div class="container-menu">
    <div class="cont-menu">
      <nav>
        <a href="inicio">Inicio</a>
        <a href="cadena-suministros">Cadena de suministros</a>
        <a href="">Construrama Supply</a>
        <a href="">Industriales</a>
        <a href="">Inmuebles no operativos</a>
        <a href="">Operaciónes</a>
        <a href="">Promexma</a>
        <a href="">Transporte</a>
       
      </nav>
      <label for="btn-menu" id="Boton-cerrar">✖</label>
    </div>
  </div>

</header>
<body>
    <h1 id="titulo">Informe mensual para operaciónes Constructores</h1>
   <div class="contenedor-principal">
    <div class="div_paralelo">
      <br><br>
        <div id="contenedor-grafica" class="tabla">
        <h3 id="subtitulo">Progreso de cumplimiento</h3> 
        <canvas baseChart class="chart"  [data]="datoslineas" [options]="barChartOptionsLine"
        [plugins]="barChartPlugins" [type]="graficalineas">
       </canvas>   
    </div>
    <br><br>
    <div id="contenedor-grafica" class="tabla">
      <h3 id="subtitulo">Cumplimiento CERO</h3> 
    <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
     [plugins]="barChartPlugins" [type]="barChartType" >
    </canvas>
     </div>
     <br><br>
      <div id="contenedor-grafica" class="tabla">
            <h3 id="subtitulo">Cumplimiento Fijas/Moviles</h3> 
            <canvas baseChart class="chart" [data]="barChartData2" [options]="barChartOptions"
            [plugins]="barChartPlugins" [type]="barChartType">
           </canvas>
      </div>
      <br><br>
        <div id="contenedor-grafica" class="tabla">
        
        </div>
        <!-- <div class="tabla">
         <h4>
          - +1% comparado con el mes anterior, debido a 
          la obtención de 11 Licencias Municipales y 9 de proteccion civil.
         </h4>
         <br>
         <h4>
          - +1% comparado con el mismo mes del año anterior.
         </h4>
        </div> -->

    </div>
    <div id="contenedor-tablas" class="div_paralelo">
      <div class="tabla">
        <a style="font-size: 32px; font-weight: bold;">SUMA TOTAL</a>
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">NAC</th>
              <th scope="col">CEN</th>
              <th scope="col">NE</th>
              <th scope="col">PAC</th>
              <th scope="col">SE</th>
            </tr>
          </thead>
          <tbody> 
            <tr>
              <td>125</td>
              <td>35</td>
              <td>25</td>
              <td>32</td>
              <td>33</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="tabla">
        <a style="font-size: 32px; font-weight: bold;">RIESGO DE</a>
        <a style="font-size: 32px; font-weight: bold; color: crimson;"> CLAUSURA</a>
      
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Requerimiento</th>
              <th scope="col">NAC</th>
              <th scope="col">CEN</th>
              <th scope="col">NE</th>
              <th scope="col">PAC</th>
              <th scope="col">SE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
           
          </tbody>
        </table>
      </div>
      <div class="tabla">
        <a style="font-size: 32px; font-weight: bold;">RIESGO DE</a>
        <a style="font-size: 32px; font-weight: bold; color: rgb(220, 220, 20);"> MULTA</a>
         <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Requerimiento</th>
              <th scope="col">NAC</th>
              <th scope="col">CEN</th>
              <th scope="col">NE</th>
              <th scope="col">PAC</th>
              <th scope="col">SE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
           
          </tbody>
        </table>
      </div>
      <div class="tabla">
        <a style="font-size: 32px; font-weight: bold;">ADMINISTRATIVOS</a>
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Requerimiento</th>
              <th scope="col">NAC</th>
              <th scope="col">CEN</th>
              <th scope="col">NE</th>
              <th scope="col">PAC</th>
              <th scope="col">SE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
            <tr>
              <th scope="row">Almacén Temporal de Residuos Peligrosos (ATRP)</th>
              <td>10</td>
              <td>2</td>
              <td>2</td>
              <td>3</td>
              <td>3</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
   </div>
    
</body>
</html>

