
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constructores</title>
</head>

<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #dedada;">
    <div class="container-fluid">
      <a class="navbar-brand" href="inicio">
       <img id="logo" src="https://i.ibb.co/HK2Btjq/Logo-Cemex.png" alt="">
      </a>

         <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="graficas-constructores-centro" style="font-size: 20px;">Indicadores de cumplimiento</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Zona-centro" style="font-size: 20px;">Menu segmentos</a>
          </li>
        </ul>
    </div>
  </nav>

</header>
<body>
    <h1 id="titulo">Informe mensual Constructores CENTRO</h1>
   <div class="contenedor-principal">
    <div class="div_paralelo">

     <div id="contenedor-grafica" class="tabla">
        <h3 id="subtitulo">Progreso de cumplimiento</h3>
        <canvas baseChart class="chart"  [data]="datoslineas" [options]="barChartOptionsLine"
        [plugins]="barChartPlugins" [type]="graficalineas">
       </canvas>
    </div>
    <br><br>

    </div>
    <div class="div_paralelo">

      <div class="tabla">
        <table class="table" style="font-size: 12px;">
          <thead class="table-dark">
            <tr>
              <th scope="col">REQUERIMIENTO</th>
              <th scope="col">NAC</th>
              <th scope="col">CEN</th>
              <th scope="col">NE</th>
              <th scope="col">PAC</th>
              <th scope="col">SE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let planper of perPlan.permiso_plan ">
              <td>{{planper.nombre}}</td>

              <td>{{planper.plantasgen}}</td>
              <td>{{planper.plantascen}}</td>
              <td>{{planper.plantnor}}</td>
              <td>{{planper.plantaspas}}</td>
              <td>{{planper.plantsur}}</td>

            </tr>

          </tbody>
        </table>
      </div>



      <div class="tabla">
        <table class="table" style="font-size: 12px;">
          <thead class="table-dark">
            <tr>
              <th scope="col">SUMA TOTAL</th>
              <th scope="col">NAC</th>
              <th scope="col">CEN</th>
              <th scope="col">NE</th>
              <th scope="col">PAC</th>
              <th scope="col">SE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let zon of perPlan.zonasConteo" >
              <td>Total</td>
              <td>{{zon.total}}</td>
              <td>{{zon.Centro}}</td>
              <td>{{zon.Noreste}}</td>
              <td>{{zon.Pasifico}}</td>
              <td>{{zon.Sureste}}</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>

   </div>

</body>
</html>

